<!-- layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} ?: 'Default Application Title'">Employee Management System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header th:replace="header :: site-header"></header>
    <nav th:replace="header :: site-navigation"></nav>

    <div class="container">
        <div th:replace="${fragment} :: content"></div>
    </div>

    <footer>
        <p>Copyright &copy; 2024</p>
    </footer>
</body>
</html>
